
TestForGit.xcodeproj/project.xcworkspace/xcshareddata/TestForGit.xccheckout

TestForGit.xcodeproj/project.xcworkspace/xcuserdata/asadulin.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

TestForGit.xcodeproj/xcuserdata/dIIm.xcuserdatad/xcschemes/TestForGit.xcscheme

TestForGit.xcodeproj/xcuserdata/dIIm.xcuserdatad/xcschemes/xcschememanagement.plist
